.newsletter {
	height: 360px;
	padding-top: 100px;

	display: flex;
	justify-content: center;

	background-color: #E2E4E3;
	background-image: url(./../img/newsletter/bg.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	@include mediaBg () {
		background-image: url(./../img/newsletter/bg@2x.jpg);
	}

	@include tablet {
		background-image: none;
	}

	@include mobile {
		height: auto;
		padding: 95px 0;
	}
}

.newsletter__content {
	flex-grow: 1;
	max-width: 552px;
	text-align: center;
	padding: 0 var(--container-padding);
}

.newsletter__title {
	margin-bottom: 8px;

	@include mobile {
		font-size: 28px !important;
	}
}

.newsletter__desc {
	font-size: 18px;
	line-height: 1.66;
	color: #121212;

	margin-bottom: 32px;

	@include mobile {
		font-size: 14px;
	}
}

.form-newsletter {
	padding-bottom: 12px;
	display: flex;
	gap: 8px;
	border-bottom: 1px solid rgba(108, 114, 117);
}

.form-newsletter__input {
	color: #121212;
	flex-grow: 1;

	&::placeholder {
		color: #6C7275;
	}

	@include mobile {
		max-width: 100%;
	}
}

.form-newsletter__submit {
	color: #6C7275;
	transition: all .2s ease-in-out;

	&:hover {
		color: #121212;
	}
}